<div id="wrapper">
	<div id="page-wrapper">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item">Proof Points</li>
		</ol>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><i class="fa fa-camera-retro fa-fw"></i> Proof Points</h1>
				<div class='pull-right'>
					<p data-placement="top" data-toggle="tooltip" title="Add Proofpoint ">
						<button class="ui right floated btn btn-success btn-sm" data-title="add" data-toggle="modal" data-target="#add"> <span class="glyphicon glyphicon-plus"></span> Add Proofpoint
            </button>
				</div>
			</div>

			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			{{#each proofpointChunks}}
      <div class="row">

				{{#each this}}
					<div class='col-md-3'>
						<div class="panel panel-default">
							<div class="panel-body text-center">
								<div class="card w-75">
									<div class='card-header'>
										<img class="card-img-top" width=190 src="{{this.image}}" alt="{{this.company}}">
									</div>
									<div class="card-block">
										<h3 class="panel-heading">{{this.company}}</h3>
										<h4 class="card-title">{{this.title}}</h4>
                    <h5 class="card-title">{{this.industry}}</h5>
										<p class="card-text">{{this.description}}</p>
										<a href="{{this.url}}" class="btn btn-primary">More Information</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
      </div>
			{{/each}}
		</div>
	</div>
